<h1> Edit an Employee</h1>
<%= form_for @employee do |f| %>
    <ul><%=f.label :first_name %>
        <%= f.text_field :first_name %></ul>
    <ul><%=f.label :last_name %>
        <%= f.text_field :last_name %></ul>
    <ul><%=f.label :alias %>
        <%= f.text_field :alias %></ul>
    <ul><%=f.label :title %>
        <%= f.text_field :title %></ul>
    <ul><%=f.label :office %>
        <%= f.text_field :office %></ul>
    <ul><%= f.collection_select(:dog_id, Dog.all, :id, :name, prompt: true) %></ul>
    <%= f.submit %>
<% end %>